@media (max-width: 768px) {
  .container-height {
    height: auto !important;
  }
  .book-details-container {
    padding-top: 20px;
  }
}

.container-height {
  height: 100dvh;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 4;
}

.read-more,
.show-less {
  cursor: pointer;
  width: auto;
  text-decoration: underline;
}
