body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* src/assets/fonts/fonts.css */
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.comfortaa-font-700 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
}

.comfortaa-font {
  font-family: "Comfortaa", sans-serif;
  font-weight: normal;
}
